@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

*{
    margin-top: 0;
    font-family: 'Poppins', sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background-image: url(media/image.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-color: black;
}

header{
    display: flex;
    height: 100px;
    width: 100%;
    background: transparent;
}

header nav{
    padding: 40px;
    width: 100%;
}

header nav ul{
    text-align: center;
    justify-content: center;
}

header nav ul li{
    list-style: none;
    padding: 0 50px 0 50px;
    display: inline-block;
}

header nav ul .leftNav{
    letter-spacing: 2px;
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    display: inline-block;
    text-align: left;
}

header nav ul li a{
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    border-radius: 20px;
    transition: 0.4s;
}

header nav ul li a:hover{
    background-color: rgb(134, 134, 134);
}

header nav ul li a.active{
    background-color: grey;
}

section{
    width: 100%;
    height: auto;
    position: relative;
}

section .content{
    position: absolute;
    top: 0;
    right: 0;
    width: calc( 100% - 180px);
    margin-right: 100px;
    margin-top: 130px;
    color: #ffff;
}

section .content .text{
    display: block;
}

section .content .text h4{
    font-size: 25px;
    margin-bottom: 10px;
}

section .content .text h2{
    color: #008c9e;
    font-size: 50px;
    margin-bottom: 10px;
}