@import url('https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap');

@keyframes transitionIn {
    from{
        opacity: 0;
        transform: rotateX(-5deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
}

*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

header nav{
    padding: 50px;
    width: 100%;
}

header nav ul{
    text-align: center;
    justify-content: center;
    padding-inline-start: 0px;
}

header nav ul li{
    list-style: none;
    padding: 0 50px 0 50px;
    display: inline-block;
}

header nav ul .leftNav{
    letter-spacing: 2px;
    color: #ffff;
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 0px 50px;
    display: inline-block;
    text-align: left;
}

header nav ul li a{
    color: rgb(210, 210, 210);
    font-weight: bold;
    text-decoration: none;
    text-transform: uppercase;
    padding: 10px 20px;
    position: relative;
}

header nav ul li a:after{
    content: "";
    position: absolute;
    background-color: #008c9e;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -1px;
    transition: 0.3s;
}

header nav ul li a:hover{
    color: #ffff;
}

header nav ul li a:hover:after{
    width: 100%;
}

section{
    animation: transitionIn 0.8s;
}

.gal-div{
    margin-top: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
}

img{
    width: 500px;
    height: 100%;
    padding: 10px;
}

h2{
    color: #008c9e;
    font-size: 50px;
    margin-bottom: 10px;
    text-align: center;
    margin-top: 30px;
    text-transform: uppercase;
}

hr{
    margin-left: 30%;
    margin-right: 30%;
}

@media (max-width: 1175.20px){
    header{
        height: 100%;
    }
    
    header nav ul li{
        padding: 20px 50px 20px 50px;
    }
    
    header nav ul .leftNav{
        padding: 10px 20px;
    }

    /* - */

    .gal-div{
        display: grid;
    }

    .gal-div a{
        margin: auto;
    }
}

@media (max-width: 600px){
    img{
        width: 300px;
    }
}